@import '../css/components/include/variable.css';

.card-container {
    display: flex;
}
.total-pendaftar {
    text-align: center;
}

.card-container .login-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
}

.card-container .login-container .box-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0 35px 20px;
}

.card-container .login-container .box-container .box-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 0 35px 20px;
    width: 50%;
    backdrop-filter: blur(10px);
    background-color:var(--primer);
}

.card-container .login-container .box-login .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.card-container .login-container .box-login .input-container .login {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}

.card-container .login-container .box-login .input-container .input-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}

.placeholder-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
}

.input-nik, .input-password  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.card-container .login-container .box-login .button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-container .login-container .box-login .button .btn-login {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #007cea;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
}
.card-container .login-container .box-login .button .btn-daftar {
    text-decoration: none;
    font-family: Poppins;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card-container .card .box{
        padding-bottom: 40px;
        width: 80%;
        margin: 1.3rem auto;
    }
    .card-container .card{
        padding: 20px;
        justify-content: center;
        align-items: flex-start;
    }
    .card-container .login-container .box-container .box-login{
        width: 300px;
    }
}

.alert-success {
    font-family: Arial,  sans-serif;
    font-size: 16px; /* Ubah ukuran teks sesuai kebutuhan */
    padding: 10px 20px; /* Atur padding atas dan bawah 10px, dan padding kiri dan kanan 20px */
    /* Tambahan gaya lainnya */
    background-color: #d4edda; /* Warna latar belakang */
    color: #155724; /* Warna teks */
    border: 1px solid #c3e6cb; /* Garis pinggir */
    border-radius: 5px; /* Sudut lengkung */
    align-items: center;
    justify-content: center;
    text-align: center;

}
.alert-danger {
    font-family: Arial,  sans-serif;
    font-size: 16px; /* Ubah ukuran teks sesuai kebutuhan */
    padding: 10px 20px; /* Atur padding atas dan bawah 10px, dan padding kiri dan kanan 20px */
    /* Tambahan gaya lainnya */
    background-color: rgb(230, 195, 195); /* Warna latar belakang */
    color: #000201; /* Warna teks */
    border: 1px solid rgb(230, 195, 195); /* Garis pinggir */
    border-radius: 5px; /* Sudut lengkung */
    align-items: center;
    justify-content: center;
    text-align: center;

}
