.card-container {
    display: flex;
}

.card {
    flex: 1;
    background-color: #CCF5FF;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    height: 600px;
    justify-content: center;
}
.card1 {
    flex: 1;
    background-color: #CCF5FF;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    height: 600px;
    justify-content: center;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-top: 10px;
}

.box h3,
.box p {
    margin-top: 10px; /* Atur margin atas pada judul dan isi kotak */
}
.icon1  {
    display: flex;
    width: 10%;
    height: 10%;
    padding: 18px;
    align-items: center;
    position: center;
    justify-items: center;
}
.icon2{
    display: flex;
    width: 45%;
    height: 10%;
    padding: 18px;
    align-items: center;
    position: center;
    justify-items: center;
    align-items: center;
}
