
.card-container {
    display: flex;
}

.card-container .card {
    flex: 1;
    padding: 20px;
}
.card-container .card1{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #ccf5ff; 
}

.card-container .card .box-title {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.card-container .card .box-title h2 {
    font-size: 1.8rem;
    font-family: Poppins, sans-serif;
    line-height: 0.2rem;
}

.card-container .card .box-title p {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 0.2rem;
}

.card1 .box-image {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: flex-start;
   
}

.card1 .box-image .icon1 {
    width: 10%;
    height: auto;
    margin-right: 0.5rem;
}

.card1 .box-image .icon2 {
    width: 30%;
    height:auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px; 
}

.table-container{
    margin-top: 1.5rem;
}

.table-head {
    width: 100%;
    
}

.table-font {
    border-radius: 20px;
    padding: 12px;
    margin: 3px;
    font-family: Poppins;
    font-weight: 400;
    border: 2px solid #007cea;
    
}

.btn-unduh {
    border: none;
    margin-left: 1rem;
    padding: 10px 10px;
    font-size: 15px;
    color: #007cea;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

/* Login */

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0.5rem auto;
    padding: 0 35px 20px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}

.input-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}

.placeholder-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
}

.input-nik, .input-password  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold; 
    color: #000;
    background-color: #ccf5ff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-right: 10px;
}
a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-weight: 100px;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .title-container{
        flex-direction: column;
    }
    .box{
        margin: 1.3rem auto;
    }
    .card-container .card .box-title h2{
        font-size: 1.5rem;
        line-height: 1.3rem;
    }
    .card-container .card .box-title p{
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-top: -0.5rem;
    }
    .title-container .box-image{
        margin-top: -0.5rem;
    }
    .card1 .box-image .icon1 {
        width: 8%;
    }
    .card .box-image .icon2 {
        width: 25%;
    }
    .table-container{
        margin-top: 0.3rem;
    }
}


/* Registrasi*/

.box {
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 5.5rem auto;
    padding: 0 35px 40px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrasi {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}
.input-nik, .input-password, .input-nama, .input-email  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn-registrasi {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold; 
    color: #000;
    background-color: #ccf5ff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-right: 10px;
}
a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-weight: 100px;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: center;
    }
}
