body {
    background-color: #ccf5ff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title-container{
    display: flex;
    padding: 20px 20px 0;
    margin: 20px 20px 0;
    justify-content: center;
}

.title-container .box-title {
    flex: 1;
    flex-direction: column;
}

.title-container .box-title h2 {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title-container .box-title p {
    text-align: center;
    font-size: 22px;
}

.title-container .box-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
   
}

.title-container .box-image .icon1 {
    width: 10%;
    height: auto;
    margin-right: 30px;
    
}

.title-container .box-image .icon2 {
    width: 45%;
    height:auto;
}

/* Unduh */

.card {
    flex: 1;
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

.card-inner {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    justify-content: center;
}

.table-container {
    border-radius: 15px;
    overflow: hidden;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px; 
}

.table-head {
    width: 100%;
}

td {
    padding: 15px;
    background-color: 
    #B5DDDC;
    margin: 3px;
}

.btn-unduh {
    background-color: #347acf;
    border: none;
    padding: 10px 10px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

/* Login */

.box {
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 0 35px 40px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}
.input-nik, .input-password  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn-login {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold; 
    color: #000;
    background-color: #ccf5ff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-right: 10px;
}
a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-weight: 100px;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: center;
    }
}


/* Registrasi*/

.box {
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 0 35px 40px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registrasi {
    display: flex;
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}
.input-nik, .input-password, .input-nama, .input-email  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.btn-registrasi {
    display: flex;
    align-items: center;
    justify-content: end;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold; 
    color: #000;
    background-color: #ccf5ff; 
    border: none; 
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-right: 10px;
}
a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-weight: 100px;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .title-container {
        flex-direction: column;
        align-items: center;
    }
}
