@import '../include/variable.css';

.upload-container{
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 20px; 
}

.upload-file {
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin-bottom: 10px
}
.upload-file .form-control{
    border: 1px solid #ccc;
    border-radius: 5px;
}
.upload-file input[type="file"]{
    font-family: Poppins;
    font-size: 14px;
    cursor: pointer;
}
.upload-file input[type="file"]::-webkit-file-upload-button {
    padding: 5px;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    background-color: var(--primer);
    cursor: pointer;
}
.upload-file input[type="file"]::-webkit-file-upload-button:hover {
    background-color: var(--secondary);
}

.btn-submit{
    width: 100%;
    margin-top: 5px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.btn-submit:hover{
    background-color: #fff;
    color: var(--secondary);
}
