.unduh-container {
    flex: 1;
    padding: 0 20px 20px 40px;
}

.table-container{
    margin-top: 1.5rem;
}

table {
    border-collapse: separate;
    border-spacing: 0 5px; 
}

.table-head {
    width: 100%;
    
}

.table-font {
    border-radius: 20px;
    padding: 12px;
    margin: 3px;
    font-family: Poppins;
    font-weight: 400;
    border: 2px solid #007cea;
    
}

.btn-unduh {
    border: none;
    margin-left: 1rem;
    padding: 10px 10px;
    font-size: 15px;
    color: #007cea;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .table-container{
        margin-top: 0.3rem;
    }
    .table-font {
        padding: 8px;
        margin: 3px;
        font-size: 0.8rem;
    }
}
