@import '../components/include/variable.css';

.card-container {
    display: flex;
}

.card-container .registrasi-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    justify-content: start;
}

.card-container .registrasi-container .box-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    padding: 0 35px 20px;
}

.card-container .registrasi-container .box-container .box-registrasi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 0 35px 20px;
    width: 50%;
    backdrop-filter: blur(10px);
    background-color: var(--primer);
    min-height: 500px;
}

.card-container .registrasi-container .box-container .box-registrasi .input-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.card-container .registrasi-container .box-container .box-registrasi .input-container .registrasi {
    display: flex;
    font-family: Poppins;
    font-weight: bold;
    justify-content: center;
    font-size: 30px;
}

.card-container .registrasi-container .box-container .box-registrasi .input-container .input-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
}

.placeholder-icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 5px;
}

.input-nik, .input-nama, .input-email ,.input-password  {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

.card-container .registrasi-container .box-container .box-registrasi .button {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-container .registrasi-container .box-container .box-registrasi .button .btn-daftar {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px; 
    color: #fff;
    background-color: #007cea;
    border: none; 
    padding: 10px 20px;
    border-radius: 20px; 
    cursor: pointer;
    margin-right: 10px;
}
.card-container .registrasi-container .box-container .box-registrasi .button .btn-login {
    text-decoration: none;
    font-family: Poppins;
    color: #007cea;
}

@media screen and (max-width: 768px) {
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card-container .card .box{
        padding-bottom: 40px;
        width: 80%;
        margin: 1.3rem auto;
    }
    .card-container .card{
        padding: 20px;
        justify-content: center;
        align-items: flex-start;
    }
    .card-container .registrasi-container .box-image-registrasi{
        display: none;
    }
    .card-container .registrasi-container .box-container .box-registrasi{
        width: 80%;
    }
}


